.first {
    position:absolute;
    left: 0px;
    top: 50px;
}
.second{
    position:absolute;    
    bottom: 10px;
    right: 280px;
}
.third{
    position:absolue;
    right: 10px;
    text-align:right;
}
h3{
    right: 25px;
}
h2{
    font-size: 50px;
    top: 200px;
    right:25px;
    font-family: 'Courier New', Courier, monospace;
}